<link rel="import" href="../polymer/polymer.html">

<!--
`hola-keepcoding-polymer-cli`


@demo demo/index.html 
-->

<dom-module id="hola-keepcoding-polymer-cli">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'hola-keepcoding-polymer-cli',

      properties: {
        prop1: {
          type: String,
          value: 'hola-keepcoding-polymer-cli',
        },
      },

    });
  </script>
</dom-module>
